@font-face{
	font-family:"fira sans ultralight";
	src:
		url("../fonts/FiraSans-UltraLight.ttf") format("truetype") ,
		url("../fonts/FiraSans-UltraLight.woff") format("woff") ,
		url("../fonts/FiraSans-UltraLight.eot") format("embedded-opentype")
	;
}

html, body{
	margin:0;
	font-family:fira sans ultralight;
	font-size:15px;
	color:rgb(15,15,15);
	text-shadow:0 0 2px rgb(240,240,240);
}

img{
	max-width:100%;
}

.content{
	position:relative;
	margin:0 auto;
	max-width:900px;
}

.wsoff{
	word-spacing:0;
}

.tc{
	text-align:center;
}

.upperlip{
	border-top:1px solid rgb(240,240,240);
}

.lowerlip{
	border-bottom:1px solid rgb(240,240,240);
}

.lip{
	border-top:1px solid rgb(225,225,225);
}

.colspan1{
	width:100%;
	max-width:209.6px;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

.nooverflow{
	overflow:hidden;
}

.clear{
	clear:both;
}

.right{
	position:absolute;
	right:0;
}

.dirt{
	background-color:rgb(254,254,254);
}

.logo{
	color:inherit !important;
}

.linkbutton{
	display:inline-block;
	padding:inherit;
	border:1px solid lime;
	color:green !important;
	font-weight:bold;
	word-spacing:0;
	background-color:#fff;
}

.linkbutton:hover{
	border-color:green;
}

.togglebutton{
	border:1px solid rgb(225, 225, 225);
	border-radius:50%;
	opacity:.9;
}

.togglebutton:hover{
	border-width:2px;
}